#header {
    color: var(--first-color);
    font-weight:bold;
    background:var(--nav-color);
    border: 1px solid rgba(0,0,0,0.05);
  }
#brand{
  font-size: var(--big-font-size);
  font-weight: var(--font-bold);
}
#login{
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi);
    color: var(--first-color);
}
  